.hobbies__card {
  align-items: center;
  border: 1px solid var(--amethyst);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  height: 20rem;
  width: 20rem;
}