.project__img {
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  background-color: var(--white-text);
}
.project__img:nth-child(1) {
  background-image: url(../../assets/img/game_1.png);
}
.project__img:nth-child(2) {
  background-image: url(../../assets/img/decode1.png);
}
