.project__card {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid var(--amethyst);
  color: var(--main-bg-gray);
  width: 90%;
  max-width: 70rem;
  height: 25rem;
}