.project__card {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid var(--amethyst);
  color: var(--main-bg-gray);
  padding: 2rem;
  width: 33%;
  height: 25rem;
}