:root {
  --midnight-blue: #2c3e50;
  --amethyst: #9b59b6;
  --main-bg-gray: #333333;
  --white-text: #F5F5F5;
  --soft-blue: #523981;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  color: var(--white-text);
  background-color: var(--midnight-blue);
  font-size: 1.6rem;
  height: 100%;
}
.wrapper {
  margin-inline: auto;
  max-width: 130rem;
}
.wrapper__about {
  max-width: 100rem;
}
.icon {
  font-size: 4.5rem;
}